@keyframes circleOpening {
  0% { clip-path: circle(0% at center); }
  100% { clip-path: circle(150% at center); }
}

@keyframes welcomeText {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
